/*
 * layout.css
 */

body {
	background: #697767;
}

a {
	color: #D4D5CD;
}

form .invalid {
  color: red;
}

.fullsize {
  padding-right: 0px;
  padding-left: 0px;
}

/*********** navbar *************/

.nav li form {
  padding-left: 10px; /* adds spacing along left of dropdown menu form */
  padding-right: 10px;
}

[readonly="readonly"] {
  background-color: inherit;
}

button:disabled {
  color: #717782;
}
/* Colors
Cushing Green: #697767;
Imperial Gray: #B1BAB3
Gray Owl: #D4D5CD;
Spring Morning: #DBCFA2;
Bayleaf: #7E745E;
*/