<div>
	<h3>Cities</h3>
	<span>(from capstone/cities/cities.html)</span>

	<form class=form-inline>
		<label>Name:</label>
		<input type="text" class="form-control" name="name" ng-model="citiesVM.city.name" required />
		<button class="btn btn-default" type="submit" ng-if="!citiesVM.city.id" ng-click="citiesVM.create()">Create City</button>

		<span ng-if="citiesVM.city.id">
			<button class="btn btn-default" type="submit" ng-click="citiesVM.update()">Update City</button>
			<button class="btn btn-danger" ng-click="citiesVM.destroy()">Remove City</button>
		</span>
	</form>

	<ul>
		<li ng-repeat="city in citiesVM.cities | orderBy: 'name'">
			<a ng-click="citiesVM.edit(city)">{{city.name}}</a>			
		</li>
	</ul>
</div>